.display-4 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lead {
  font-family:fantasy;
}

.card-body {
  background-color:white;
  

  
}

.good  {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  color: snow;
  font-size: 20px;
 
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}


.btn-primary{
  background-color:#cecbcb;
  border-color: rgb(177, 174, 190);
  
}

.btn-primary:link {
  background-color: rgb(72, 106, 156);
  border-color:rgb(243, 237, 237);
  color:white
}

.btn-primary:hover {
  background-color: rgb(68, 93, 177);
  border-color:rgb(243, 237, 237);
  color:white
}

.btn-primary:active {
  background-color: rgb(113, 133, 139);
  border-color:rgb(243, 237, 237);
  color:rgb(29, 6, 6)
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-parent {
  height: 400px;
}

#map {
  height: 90%;
}

body {
	background: #fff;
}


.jumbotron{
  
  background-image: linear-gradient(#ffffff, #3a505f);
  
  
}










#myInput,
#myInput_2 {
  background-repeat: no-repeat;
  width: 300;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid rgba(58, 52, 52, 0.171);
  margin-bottom: 6px;
  
  display:block;
}

.dblclick{
  user-select: none;
  position: realtive;
}

.error{
  color: #ee0000;
}

.fa.fa-thumbs-up{
  font-size: 28px;
  margin: 10px;
}
.fa.fa-thumbs-down{
  font-size: 28px;
  margin: 10px;
}

.fa.filled{
  color: #f15c00;
}

.favbtn{
  font-size: 35px;
}

.fa:hover{
  background-color: rgb(218, 191, 191);
}

.reportbtn{
  border-width: thin;
  border-radius: 5px;
}

.reportbtn:focus{
  outline: 0;
}

.float-right{
  float:right;
  margin-bottom: auto;
}

.review-input-box{
  margin-bottom: 40px;
}

.float-right{
  overflow: auto;
  display: inline-block;
}

.check-mark {
  fill: rgb(5, 168, 130);
}

.x-mark {
  fill: rgb(255, 82, 61);
}

.star {
  color:rgb(255, 82, 61);
}

.dollar {
  color: #767676;
}

.report-text{
  margin: 5px;
}

#restLink{
  font-size: 20px;
}

.carousel-item img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

li.borderless{
  border: none;
}





.rating-slider w-100 {
  background-color: #692643;
}


a:link {color:#030b4ed0;}    
a:visited {color:#0e2052d0;}  
a:hover {color:#494949;} 
a:active {color:#ffffff;}


body {
  margin-left: 5%;
  margin-right: 5%;
}

/* .form-group {
  
} */

.form-group.input-label {
  border-left-color: #262d69;
}


#selfSummary{
  height: 300px;
}

.ml-2 {
  color:#000000;
}


.bold{
  font-weight:bold;
}



footer {
  border-style:groove;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  color:grey;
  text-align: center;
}

