.display-4 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lead {
  font-family:fantasy;
}

.card-body {
  background-color:white;
  

  
}

.good  {
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  color: snow;
  font-size: 20px;
 
}

a {
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
}


.btn-primary{
  background-image:linear-gradient(#ffffff, #1e3568);
  border-color: rgb(255, 255, 255);
  
}

.btn-primary:link {
  background-color: rgb(123, 139, 161);
  border-color:rgb(243, 237, 237);
  color:white
}

.btn-primary:hover {
  background-color: rgb(21, 37, 88);
  border-color:rgb(243, 237, 237);
  color:white
}

.btn-primary:active {
  
  border-color:rgb(243, 237, 237);
  color:rgb(29, 6, 6)
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-parent {
  height: 400px;
}

#map {
  height: 90%;
}

body {
	background: #fff;
}


.jumbotron{
  
  background-image: linear-gradient(#ffffff, #3a505f);
  
  
}

#myInput,
#myInput_2 {
  background-repeat: no-repeat;
  width: 300;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid rgba(58, 52, 52, 0.171);
  margin-bottom: 6px;
  
  display:block;
}

.dblclick{
  user-select: none;
  position: realtive;
}



.float-right{
  float:right;
  margin-bottom: auto;
}

.review-input-box{
  margin-bottom: 30px;
}






.report-text{
  margin: 5px;
}

#restLink{
  font-size: 20px;
}

.carousel-item img {
  height: 300px;
  width: 400px;
  object-fit: cover;
}

li.borderless{
  border: none;
}





.rating-slider w-100 {
  background-color: #692643;
}


a:link {color:#030b4ed0;}    
a:visited {color:#0e2052d0;}  
a:hover {color:#494949;} 
a:active {color:#ffffff;}


body {
  margin-left: 10%;
  margin-right: 10%;
}





#selfSummary{
  height: 300px;
}

.ml-2 {
  color:#000000;
}


.bold{
  font-weight:bold;
}



footer {
  border-style:groove;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin-bottom: 20px;
  color:grey;
  text-align: center;
}

