<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Hello, we are LHRFE!</h1>
        <p class="lead">
            THIS IS LEAD? INTRO?
        </p>
        <hr class="my-4">
        <p class="font-italic">
            emmm.. </p>
    </div>
    <div class="container p-0 m-0 mt-5 col-4">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="/restaurants">View All Restaurants</a></li>
            <li class="list-group-item"><a href="/statistics">Check Out Our Statistics Page</a></li>
        </ul>
    </div>
</div>