<div class="container mt-5">
	<div class="jumbotron">
		<h1 class="display-4">Welcome to MyPlace!</h1>
		<p class="lead">
			This is MyPlace, the information exchange platform
		</p>
		<hr class="my-4" />
		<p class="font-italic">
			Inspired from Wechat and we provided the best sublets and purchase experience</p>
	</div>

	<div class="row mb-5">
		<div class="col col-6 card shadow mr-4">
			<div class="card-body">
                
				<div class="container">
					<h2 class="card-title h3"><a href="/rental">Check Out All Apartments</a></h2>
				</div>
                <img src="../../public/images/rentalSymbol.png" id="navbar-img" width="47" height="47" class="fluid-image" alt="myplace_logo" />
			</div>
		</div>
		<div class="col card shadow">
			<div class="card-body">
                
				<div class="container">
					<h2 class="card-title h3"><a href="/furniture">Check Out All Furnitures</a></h2>
				</div>

                <img src="../../public/images/myplace_logo.png" id="navbar-img" width="147" height="47" class="fluid-image" alt="myplace_logo" />
			</div>
		</div>
	</div>

    
</div>