<div class="container mt-5">
	<div class="jumbotron">
		<h1 class="display-1">Welcome to MyPlace</h1>
		<p class="lead">
			MyPlace, the information exchange platform
			<br>
			Since 2021
		</p>
		<hr class="my-2" />
		<p class = "good">
			Inspired from Wechat.<br> We provided the BEST sublets and purchase experience!
			</p>
	</div>

	<div class="row mb-5">
		<div class="col col-6 card shadow mr-6">
			<div class="card-body">
                
				<div class="container">
					<h2 class="card-title h3" id = "check"><a href="/rental">Check Out All Rentals</a></h2>
				</div>
                <img src="../../public/images/rentalSymbol.png" id="navbar-img" width="47" height="47" class="fluid-image" alt="myplace_logo" />
			</div>
		</div>
		<div class="col card shadow">
			<div class="card-body">
                
				<div class="container">
					<h2 class="card-title h3" id = "check"><a href="/furniture">Check Out All Furniture</a></h2>
				</div>

                <img src="../../public/images/furnitureLogo.PNG" id="navbar-img" width="100" height="47" class="fluid-image" alt="myplace_logo" />
			</div>
		</div>
	</div>
	

    
</div>



