{{!-- 创建界面 - 核心与 DB function互动的部分 --}}

{{!-- 需要修改成 能输入我们DB的 那部分, 参考seeds中的初始化用到 的 furnitureData.Create --}}

<div class="container mt-3 col-5">
    <h1>Create a new restaurant</h1>
    <form method="POST" action="/furniture" id="furniture-form">
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text" id="category-input" name="category" placeholder="Enter furniture category">
           
            <div class="feedback">
                Please provide a valid furniture category
            </div>
        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location-input" name="location" placeholder="Enter restaurant address">
            <div class="feedback">
                Please provide a valid location
            </div>
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class = "form-control" id="price-input" name="price" placeholder="Enter price">
            <div class="feedback">
                Please enter a price
            </div>
        </div>
        <div class="form-group" id="cuisine-input-div">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description-input" name="description" placeholder="Enter a description">
            {{!-- <div class="invalid-feedback">
                Please provide a description 
            </div> --}}
        </div>
        <div class="form-group">
            <label for="photos">link photos</label>
            <input type="text" class="form-control" id="photos" name="photos" placeholder="Enter photos link">
            <div class="feedback">
                Please provide a valid external photo link
            </div>
        </div>

        <div class="form-group">
            <label for="purchase-link">Purchase-link</label>
            <input type="text" class="form-control" id="purchase-link" name="purchase-link" placeholder="Enter the product purchase link">
        </div>

        <div class="form-group">
            <label for="contact">Contact</label>
            <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter contact>
        </div>

        <button type="submit" class="buttom-furniture" name="submit" id="submit">Post</button>
        {{#if hasErrors}}
        <ul class = "error-list">
            {{#each errors}}
            <li>
                {{this}}
            </li>
            {{/each}}
        </ul>
        {{/if}}
    </form>
</div>